html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  padding-top: 50px;
}

.robot {
  width: 320px;
  margin: 0 auto;
}

.robot-body {
  width: 320px;
  position: relative;
  display: block;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 50px;
  right: 48.1%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  padding-top: 10px;
  top: 1px;
}

.robot-head-right {
  left: 50%;
}

.robot-head-left {
  right: 50%;
}

.banner:hover .robot-head-right {
  left: 50%;
  top: -10px;
}

.banner:hover .robot-head-left {
  right: 50%;
  top: -10px;
}

.banner:hover .robot-brain {
  top: -1%;
}
